:root {
    --violet: #4A1C66;
    --light-violet: #844C82;
    --color4: #454047;
    --color2-dark: #57a626;
    /* --color2-dark: #38661C; */
    --color2: #7ad442;  
    --color3: #facb19;

    --color-ocasions: #536352;
    --hover-color: var(--color2);
}

.header-nav{
    background: linear-gradient(0deg, var(--light-violet), var(--violet));
    color: white;
}

.product-flags li.product-flag{
    background: linear-gradient(0deg, var(--light-violet), var(--violet));
    color: white;
}


#header .header-nav .blockcart{
    background: #e5b7ff17;
}


/* liens du header */
#header nav .user-info a{
    color: white;
}
#header a:hover {
    color: var(--hover-color);
}
#header nav .user-info a:hover {
    color: var(--color2);
}

.dropdown .expand-more{
    color: white;
}
.dropdown:hover .expand-more{
    color: var(--color2);
}

.btn-unstyle:focus .expand-more{
    color: var(--color2);
}

.dropdown-menu a:hover{
    color: var(--hover-color);
}
.dropdown-menu a{
    color: black;
}

#header #top-menu a:hover{
    color: var(--hover-color);
}

#_desktop_top_menu .top-menu[data-depth="0"] li:hover .sub-menu{
    background-color: var(--color4);
}
#_desktop_top_menu .top-menu[data-depth="0"] li .sub-menu a{
    color: white;
}
#_desktop_top_menu .top-menu[data-depth="0"] li:hover .sub-menu .dropdown-submenu{
    color: var(--color2);
}
#_desktop_top_menu .top-menu[data-depth="0"] li .sub-menu .dropdown-submenu:hover{
    color: var(--color2-dark) !important;
}

#header #top-menu #category-16 .sub-menu{
    background-color: var(--color-ocasions);
}

/* #header #top-menu #category-16 .dropdown-item{
    color: var(--color2-dark)
} */




/* panier */
#header .header-nav .cart-preview.active{
    background-color: var(--color2);
    color: black !important;
}

/* bouton de recherche */
.ets_search_block_top .btn.button-search{
    background-color: var(--light-violet)!important;
}
.ets_search_block_top .btn.button-search:hover{
    background-color: var(--violet)!important;
    /* border-color: var(--hover-color); */
}

    .search_block_results .box_button_see{
        background-color: var(--light-violet)!important;
        transition: background-color 0.3s ease;
    }
    .search_block_results .box_button_see:hover{
        background-color: var(--violet)!important;
    }



    /* centre du site */
    #main a:hover{
        color: var(--hover-color) !important;
    }

    #carousel i:hover{
        color: var(--hover-color);
    }




    /* footer */
    .block-social ul li:hover {
        background-color: var(--violet)!important;
    }
    .block-social ul li {
        background-color: var(--light-violet)!important;
    }

    footer a:hover{
        color: var(--hover-color) !important;
    }

    footer .footer-container{
        background: linear-gradient(180deg, var(--light-violet), var(--violet));
        color: white !important;
    }

    footer .footer-container a{
        color: white;
    }
    footer .footer-container p{
        color: white;
    }


/* ancier custom theme ----------------------------------------------------------------------
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------*/

#header #top-menu #lnk-promotions a {
  color: #f90015;
}
#header #top-menu #lnk-promotions a:before {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAdgAAAHYBTnsmCAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAJZSURBVDiNjZNPSFRRFMZ/971338zojI6MM70BtVBrE7kZXRSEtQwirFWbMAyyhQi5KAoX0cpFUFJJtMi9WhMFraJNSFgQ5cpACbW/mmXOzJt58+a922I0g5miu7znO9/9nY9zocp5f2bg/ELfQCdAfjR11R7vPFlNB6BVu1TZ3Fk9YzcD+IKjep1xXaUPRf/bwC8WR3ZN3kvnR1MtwhQtaFhFnKEy3WDv/KlziS2t+Buaur03bBOc1i2jQ2gCBasBtzm5kI4+EF5prm1i/GJVgvxY6hKA7QenjITsEJrYeinu6ktdKlu8XBLFqaoEuVudfVotY4Yhe9y8m9bjRrDwpYagZW+KVb95fObuPzJQw1rUCHghNanHjCDAjxcJnG915SrssG+krlU1yN5M7dNCWguA0Amjgb0QQakImXdNZZHLfi2u92cnuqwKA+HTI4JCB8jMRSllJetvkxAIUVwP4xdMkOKIqNHC0jAObvUZ2yyqCQM8RyMzmyD/2QdZ/7tc+BomkNhAD5VAU60VBEqJAkqQmY2hZC36nm4MK4FWX54/M5fAWdncJYWqINCVeqOKCndNIgIS2d6GnrQQUpJ79ASvVIdr5zbnZbGCwBbyPlnvpzAU+Arn1Wu85U+UFj+gx2NlkS8AHNP3n1YYxAZnNpSrHgesrFKOg7u4hGxvRbcShA53gxCYDTmAUXHi5VpliEAo2Xba8+cjhtlwzFOWyD+fBtNE7mxGRnKErO8PzRV3+M+eir+gFGJ95MBQbrnpgu/VN/pIEWjMrIZ3f7wS7n12R4jtAAF+AWm52p9V1Lq9AAAAAElFTkSuQmCC");
}
.product-flag.discount {
  visibility: hidden;
}
.product-flag.discount:after {
  content: "PROMO" !important;
  visibility: visible;
  display: block;
  position: absolute;
  top: 5px;
  padding: 5px;
  background-color: #f90015;
}
.product-discount .discount-percentage {
  visibility: hidden;
}
.product-discount .discount-percentage:after {
  content: "PROMO" !important;
  visibility: visible;
  display: block;
  position: absolute;
  top: 30px;
  padding: 5px;
  background-color: #f90015;
}
.has-discount.product-price {
  color: #f90015;
}
#product .discount-percentage {
  display: none;
}
#product .discount-amount {
  display: none;
}
#product .current-price {
  font-size: 30px;
}
#product .has-discount.product-price {
  color: #f90015;
}

#manufacturer #manufacturer-banner {
  margin-bottom: 15px;
}
#manufacturer #manufacturer-banner .img-responsive {
  width: 100%;
}
#manufacturer #manufacturer-short_description {
  background-color: #fff;
  padding: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#product .product-manufacturer {
  background-color: #fff;
  text-align: center;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}
#product .product-manufacturer img {
  margin-bottom: 20px;
  max-width: 100px;
  border: 1px solid #ccc;
}
#product #brand_name {
  background-color: #fff;
  text-align: center;
}